.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;

    &-row {
        display: flex;
        flex-direction: row;
        max-width: 1170px;
        column-gap: 100px;
    }

    &-company {
        display: flex;
        flex-direction: column;
        row-gap: 41px;
        margin-right: 38px;
        align-items: start;

        &__logo {
            width: 191px;
            height: 84px;
            cursor: pointer;
        }

        &__text {
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 400;
            color: $grey;
            letter-spacing: 0%;
            width: 323px;
        }

        &__social {
            display: flex;
            flex-direction: row;
            column-gap: 38px;
            align-items: center;

            &-item-icon {
                width: 29px;
                height: 29px;
                cursor: pointer;
                fill: $black;
            }

            &-item-icon:hover{
                fill: $blue;
                transition: 0.3s ease;
            }
        }
    }

    &-column {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 64px;
        max-width: 253px;

        &__title {
            color: $black;
            font-size: 16px;
            font-weight: 700;
            font-family: 'Open Sans';
        }

        &__list {
            display: flex;
            flex-direction: column;
            row-gap: 18px;

            &-item {
                display: flex;
                flex-direction: row;
                column-gap: 6px;
                align-items: center;

                &-icon {
                    width: 32px;
                    height: 32px;
                }

                &-text {
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Open Sans';
                    cursor: pointer;
                }

                &-text:hover{
                    transition: 0.3s ease;
                    text-decoration: underline;
                }
            }
        }
    }
    &-line {
        height: 1px;
        width: 100%;
        background: $black;
        opacity: 0.3;
    }

    &-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1170px;
        justify-content: space-between;
        width: 100%;

        &__text{
            color: $black;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Open Sans';
            cursor: default;
        }
    }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .footer {
        row-gap: 25px;
    
        &-row {
            max-width: 1000px;
            column-gap: 30px;
        }
    
        &-company {
            row-gap: 21px;
            margin-right: 0px;
    
            &__logo {
                width: 151px;
                height: 64px;
            }
    
            &__text {
                font-size: 14px;
                color: $grey;
                width: 283px;
            }
    
            &__social {
                column-gap: 25px;
    
                &-item-icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    
        &-column {
            row-gap: 44px;
            max-width: 253px;
    
            &__title {
                font-size: 16px;
            }
    
            &__list {
                row-gap: 12px;
    
                &-item {
                    column-gap: 6px;
    
                    &-icon {
                        width: 20px;
                        height: 20px;
                    }
    
                    &-text {
                        font-size: 14px;
                    }
                }
            }
        }
        &-line {
            height: 1px;
            width: 100%;
            background: $black;
            opacity: 0.3;
        }
    
        &-bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 1170px;
            justify-content: space-between;
            width: 100%;
    
            &__text{
                color: $black;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Open Sans';
                cursor: default;
            }
        }
    }
}

@media screen and (max-width: 1023px) and (min-width: 320px) {
    .footer {
        width: 100%;
        row-gap: 10px;
    
        &-row {
            flex-direction: column;
           column-gap: 0;
           row-gap: 20px;
           justify-content: center;
           align-items: center;
           margin-right: 0;
        }
    
        &-company {
            display: flex;
            flex-direction: column;
            row-gap: 21px;
            align-items: start;
    
            &__logo {
                width: 121px;
                height: 54px;
                cursor: pointer;
            }
    
            &__text {
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;
                color: $grey;
                letter-spacing: 0%;
                width: 303px;
            }
    
            &__social {
                display: flex;
                flex-direction: row;
                column-gap: 20px;
                align-items: center;
    
                &-item-icon {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    fill: $black;
                }
            }
        }
    
        &-column {
            display: none;
            flex-direction: column;
            align-items: start;
            row-gap: 64px;
            max-width: 253px;
    
            &__title {
                color: $black;
                font-size: 16px;
                font-weight: 700;
                font-family: 'Open Sans';
            }
    
            &__list {
                display: flex;
                flex-direction: column;
                row-gap: 18px;
    
                &-item {
                    display: flex;
                    flex-direction: row;
                    column-gap: 6px;
                    align-items: center;
    
                    &-icon {
                        width: 32px;
                        height: 32px;
                    }
    
                    &-text {
                        color: $black;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: 'Open Sans';
                        cursor: pointer;
                    }
    
                    &-text:hover{
                        transition: 0.3s ease;
                        text-decoration: underline;
                    }
                }
            }
        }
        &-line {
            height: 1px;
            width: 100%;
            background: $black;
            opacity: 0.3;
        }
    
        &-bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 1170px;
            justify-content: space-between;
            width: 100%;
    
            &__text{
                color: $black;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Open Sans';
                cursor: default;
            }
        }
    }
}